# Data Science Tools and Ecosystem

__Objectives:__ 
- List popular languages for Data Science
- Understand basic Python syntax
- Work with Jupyter Notebooks
- Practice writing Markdown cells

 In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are:

1. Python
1. Java
1. C++
1. R

 Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. NumPy
1. Matplotlib

|Data Science Tools|
|-|
|Jupyter Notebook|
|Anaconda|
|Apache Airflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
a = 1
b = a+2
(a+b)+(a+b)

8

This a simple arithmetic expression to mutiply then add integers

In [32]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [44]:
# Change "a" to input your minutes
a = 200
a/60

3.3333333333333335

## Author
Dmytro Panasiuk